*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.banner{

    background-image: url(kkk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 230px 0;
}
